.App {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-box {
  width: 170px;
}

.cancel-button {
  margin-top: 1rem;
  max-width: 100px;
}

.beer-list {
  list-style: none;
  padding-inline-start: 0px;
}

.beer-name {
  margin-left: 1rem;
}

.beer-image {
  width: 30px;
}

.beer-image img {
  max-width: 100%;
}
